**/*.cache
**/*.dll
**/*.exe
**/*.msix
**/*.user
**/.vs/
**/ARM64/
**/bin/
**/obj/
**/x64/
GenericShellExInfrastructureInstaller/Resources/*.cer
GenericShellExInfrastructureInstaller/Resources/*.msix
GenericShellExInfrastructureInstaller/Resources/*.ps1
packages/
