**/*.cache
**/*.dll
**/*.exe
**/*.msix
**/*.user
**/.vs/
**/bin/
**/obj/
**/x64/
GenericShellExInstaller/Resources/*.cer
GenericShellExInstaller/Resources/*.msix
GenericShellExInstaller/Resources/*.ps1
